

/* SELECTOR UNIVERSAL*/

*{
    padding: 0;
    margin: 0;
}

/*selectores de Rerencia */

h1{
    background: brown;

}
p{
    background: goldenrod;
}

/*solo hasta 4 */
ul li a {

    color: green;
}

/*SELECTOR DE CLASE */

.😋{
    background: rebeccapurple;
}

/* por id */

#pequeño{
    font-size: 30px;
}